WebContent/wsdl/Main.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:tns1="http://dao" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dao"/>
   <element name="updateCategory">
    <complexType>
     <sequence>
      <element name="oldCategoryName" type="xsd:string"/>
      <element name="newCategoryName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCategoryResponse">
    <complexType/>
   </element>
   <element name="fault" type="tns1:DaoException"/>
   <element name="addCategory">
    <complexType>
     <sequence>
      <element name="categoryName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCategoryResponse">
    <complexType/>
   </element>
   <element name="modifyAd">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
      <element name="oldAdName" type="xsd:string"/>
      <element name="oldStreet" type="xsd:string"/>
      <element name="oldTown" type="xsd:string"/>
      <element name="oldPostCode" type="xsd:string"/>
      <element name="oldCategory" type="xsd:string"/>
      <element name="newAdName" type="xsd:string"/>
      <element name="newPhone" type="xsd:string"/>
      <element name="newStreet" type="xsd:string"/>
      <element name="newTown" type="xsd:string"/>
      <element name="newPostCode" type="xsd:string"/>
      <element name="newCategory" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="modifyAdResponse">
    <complexType/>
   </element>
   <element name="getCategoriesNames">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCategoriesNamesResponse">
    <complexType>
     <sequence>
      <element name="getCategoriesNamesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPostCodes">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPostCodesResponse">
    <complexType>
     <sequence>
      <element name="getPostCodesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStreetsNames">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStreetsNamesResponse">
    <complexType>
     <sequence>
      <element name="getStreetsNamesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTownsNames">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTownsNamesResponse">
    <complexType>
     <sequence>
      <element name="getTownsNamesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dropCategory">
    <complexType>
     <sequence>
      <element name="category" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dropCategoryResponse">
    <complexType/>
   </element>
   <element name="dropAd">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
      <element name="adName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dropAdResponse">
    <complexType/>
   </element>
   <element name="getAdsNames">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdsNamesResponse">
    <complexType>
     <sequence>
      <element name="getAdsNamesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getYearBook">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getYearBookResponse">
    <complexType>
     <sequence>
      <element name="getYearBookReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAd">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
      <element name="adName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdResponse">
    <complexType>
     <sequence>
      <element name="getAdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAd">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
      <element name="adName" type="xsd:string"/>
      <element name="phone" type="xsd:string"/>
      <element name="street" type="xsd:string"/>
      <element name="town" type="xsd:string"/>
      <element name="postCode" type="xsd:string"/>
      <element name="category" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAdResponse">
    <complexType/>
   </element>
   <element name="getAdsByCategory">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
      <element name="category" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdsByCategoryResponse">
    <complexType>
     <sequence>
      <element name="getAdsByCategoryReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdsByName">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdsByNameResponse">
    <complexType>
     <sequence>
      <element name="getAdsByNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdsByAddress">
    <complexType>
     <sequence>
      <element name="yearBook" type="xsd:int"/>
      <element name="street" type="xsd:string"/>
      <element name="town" type="xsd:string"/>
      <element name="postCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAdsByAddressResponse">
    <complexType>
     <sequence>
      <element name="getAdsByAddressReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dao" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="DaoException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="modifyAdRequest">

      <wsdl:part element="impl:modifyAd" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTownsNamesResponse">

      <wsdl:part element="impl:getTownsNamesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCategoryRequest">

      <wsdl:part element="impl:addCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStreetsNamesResponse">

      <wsdl:part element="impl:getStreetsNamesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dropCategoryResponse">

      <wsdl:part element="impl:dropCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dropAdRequest">

      <wsdl:part element="impl:dropAd" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="DaoException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStreetsNamesRequest">

      <wsdl:part element="impl:getStreetsNames" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getYearBookRequest">

      <wsdl:part element="impl:getYearBook" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCategoryResponse">

      <wsdl:part element="impl:addCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoriesNamesResponse">

      <wsdl:part element="impl:getCategoriesNamesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdsNamesResponse">

      <wsdl:part element="impl:getAdsNamesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAdResponse">

      <wsdl:part element="impl:addAdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPostCodesResponse">

      <wsdl:part element="impl:getPostCodesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dropAdResponse">

      <wsdl:part element="impl:dropAdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdResponse">

      <wsdl:part element="impl:getAdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdsByNameRequest">

      <wsdl:part element="impl:getAdsByName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCategoryRequest">

      <wsdl:part element="impl:updateCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdRequest">

      <wsdl:part element="impl:getAd" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="modifyAdResponse">

      <wsdl:part element="impl:modifyAdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPostCodesRequest">

      <wsdl:part element="impl:getPostCodes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getYearBookResponse">

      <wsdl:part element="impl:getYearBookResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdsByNameResponse">

      <wsdl:part element="impl:getAdsByNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdsByCategoryRequest">

      <wsdl:part element="impl:getAdsByCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdsByAddressRequest">

      <wsdl:part element="impl:getAdsByAddress" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCategoriesNamesRequest">

      <wsdl:part element="impl:getCategoriesNames" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dropCategoryRequest">

      <wsdl:part element="impl:dropCategory" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdsNamesRequest">

      <wsdl:part element="impl:getAdsNames" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTownsNamesRequest">

      <wsdl:part element="impl:getTownsNames" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCategoryResponse">

      <wsdl:part element="impl:updateCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdsByCategoryResponse">

      <wsdl:part element="impl:getAdsByCategoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAdsByAddressResponse">

      <wsdl:part element="impl:getAdsByAddressResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAdRequest">

      <wsdl:part element="impl:addAd" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Main">

      <wsdl:operation name="updateCategory">

         <wsdl:input message="impl:updateCategoryRequest" name="updateCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateCategoryResponse" name="updateCategoryResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addCategory">

         <wsdl:input message="impl:addCategoryRequest" name="addCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCategoryResponse" name="addCategoryResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyAd">

         <wsdl:input message="impl:modifyAdRequest" name="modifyAdRequest">

       </wsdl:input>

         <wsdl:output message="impl:modifyAdResponse" name="modifyAdResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCategoriesNames">

         <wsdl:input message="impl:getCategoriesNamesRequest" name="getCategoriesNamesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCategoriesNamesResponse" name="getCategoriesNamesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getPostCodes">

         <wsdl:input message="impl:getPostCodesRequest" name="getPostCodesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPostCodesResponse" name="getPostCodesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getStreetsNames">

         <wsdl:input message="impl:getStreetsNamesRequest" name="getStreetsNamesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStreetsNamesResponse" name="getStreetsNamesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getTownsNames">

         <wsdl:input message="impl:getTownsNamesRequest" name="getTownsNamesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTownsNamesResponse" name="getTownsNamesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="dropCategory">

         <wsdl:input message="impl:dropCategoryRequest" name="dropCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:dropCategoryResponse" name="dropCategoryResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="dropAd">

         <wsdl:input message="impl:dropAdRequest" name="dropAdRequest">

       </wsdl:input>

         <wsdl:output message="impl:dropAdResponse" name="dropAdResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdsNames">

         <wsdl:input message="impl:getAdsNamesRequest" name="getAdsNamesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdsNamesResponse" name="getAdsNamesResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getYearBook">

         <wsdl:input message="impl:getYearBookRequest" name="getYearBookRequest">

       </wsdl:input>

         <wsdl:output message="impl:getYearBookResponse" name="getYearBookResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAd">

         <wsdl:input message="impl:getAdRequest" name="getAdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdResponse" name="getAdResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addAd">

         <wsdl:input message="impl:addAdRequest" name="addAdRequest">

       </wsdl:input>

         <wsdl:output message="impl:addAdResponse" name="addAdResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdsByCategory">

         <wsdl:input message="impl:getAdsByCategoryRequest" name="getAdsByCategoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdsByCategoryResponse" name="getAdsByCategoryResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdsByName">

         <wsdl:input message="impl:getAdsByNameRequest" name="getAdsByNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdsByNameResponse" name="getAdsByNameResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdsByAddress">

         <wsdl:input message="impl:getAdsByAddressRequest" name="getAdsByAddressRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAdsByAddressResponse" name="getAdsByAddressResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DaoException" name="DaoException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MainSoapBinding" type="impl:Main">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="updateCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyAd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyAdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="modifyAdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCategoriesNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCategoriesNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCategoriesNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getPostCodes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPostCodesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPostCodesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getStreetsNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStreetsNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStreetsNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getTownsNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTownsNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTownsNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="dropCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dropCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dropCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="dropAd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dropAdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dropAdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdsNames">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdsNamesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdsNamesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getYearBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getYearBookRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getYearBookResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addAd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addAdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdsByCategory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdsByCategoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdsByCategoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdsByName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdsByNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdsByNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAdsByAddress">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdsByAddressRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAdsByAddressResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DaoException">

            <wsdlsoap:fault name="DaoException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MainService">

      <wsdl:port binding="impl:MainSoapBinding" name="Main">

         <wsdlsoap:address location="http://localhost:8080/sr03_projet3/services/Main"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
